
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.mceContentBody.wp-editor {
    background-color:#1e1e1e;
    color:#f6f6f6;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    letter-spacing:1px;
}

h2,h3 {
    font-size:1.8em;
    line-height: 1.5em;
    margin-bottom:1.3em; 
}

h2 {
    
}

h3 {
    margin-top:60px;
    font-weight:400;
}

p, li {
    margin: 1.3em auto 0 auto;
    font-size:1.2em;
    line-height:1.4em;
    font-weight:400;
}

p:first-of-type {
    font-weight:700;
}

h3 + p {
    margin-top:-24px;
}

a {
    color:white;
    font-weight: bold;
    text-decoration:none;
}

a.button {
    display: inline-block;
    padding:0 40px !important;
    margin: 40px auto 0 auto;
    font-weight:600;
    text-transform:uppercase;
    font-size:16px;
    line-height:50px;
    border: 4px solid #f6f6f6;
    background-color:transparent !important;
}

.music-intro a.button:hover,
a.button:hover {
    background-color:#f6f6f6 !important;
    border-color:#f6f6f6 !important;
    color:#2d2d2d !important;
}

ol {
        list-style-type: decimal;
}

img,
div.wp-caption {
    position:relative;
    width:100% !important;
    height:auto;
}

.wp-caption p.wp-caption-text {
    width:100%;
    position:absolute;
    bottom:4px;
    margin-bottom:0;
    padding:1em 1.4em;
    background-color:rgba(255,255,255,0.6);
    color:#222;
    font-size:14px;
    line-height:22px;
    letter-spacing: 0;
}
