/*
Theme Name: Natural Aggregate
Theme URI: https://thenaturalaggregate.co.uk
Author: Martin J Stephens
Author URI: http://martinjstephens.com
Description: Theme for thenaturalaggregate.co.uk
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: thenaturalaggregate
*/

@import "assets/css/reset-style.css";
@import "assets/css/notfound-style.css";
@import "assets/css/preloader-style.css"; 
@import "assets/css/twitter-feed-style.css"; 
@import "assets/css/subscribe-form-style.css";
@import "assets/css/blog-teaser-style.css";


/* NAT AGG STANDARD INDEX STYLES */

body {
    background-color:#1e1e1e;
}

body * {
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    color:#f6f6f6;
    letter-spacing:1px;
    text-align: center;
}

*::selection {
	background:rgba(255,255,255,0.2);
}

nav.mainmenu div ul {
    width:100%;
    position:absolute;
    top:40px;
    display: flex;
    justify-content: center;
	z-index:10;
}

nav div ul li a {
    line-height:60px;
    padding:0 16px;
    text-transform: uppercase;
    letter-spacing:3px !important;
    font-size:14px;
    font-weight:700;
}

nav a:hover {
    color:#c4c4c4;
}

section {
    padding: 6em 0 6em 0 ;
}

section + section.music-final {
    padding:4em 0;
}

section.music-upper-teaser {
    background-color:#242424;
    padding:10em 0;
    background-size:cover;
    background-position:center center;
    overflow:hidden;
}

#upper-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 177.77777778vh; 
    min-width: 100%;
    min-height: 56.25vw;
    overflow: hidden;
    margin: auto;
    z-index:5;
    display:block;
}

h2,
h3 {
    font-size:1.8em;
    line-height: 1.5em;
    margin-bottom:1.3em;
}

h2 {
    text-transform:uppercase;
    font-weight:bold;
    text-align:left;
}

.music-intro h3 {
    margin-bottom:0;
}

p {
    max-width:600px;
    margin: 1.3em auto 0 auto;
    font-size:1.2em;
    line-height:1.5em;
    padding:0 16px;
}

section p:first-of-type {
    margin-top:0;
}

table {
    max-width:800px;
    margin:1.3em auto 0 auto;
    font-size:1.2em;
    line-height:1.5em;
}

.tablepress th, 
.tablepress td {
    border:1px solid white !important;
    color:white;
    min-width:120px;
    padding:12px !important;
}

.tablepress thead th {
    background-color:#222 !important;
}

.tablepress caption {
    display:none;
}

.featured-posts {
    display:flex;
    flex-direction: row;
    justify-content:  center;
    flex-wrap:nowrap;
    background-color:#1e1e1e;
}

.featured-post-inner {
    flex:none;
    margin:0 1em;
    flex-basis:30%;
    max-width:500px;
}

.featured-post-inner:first-of-type {
    margin-left:0;
}

.featured-post-inner:last-of-type {
    margin-right:0;
}

.featured-post-inner .image-box {
    height:300px;
    width:100%;
    margin-bottom:2em;
    background-size:cover;
    background-position:center center;
}

.featured-post-inner {
    text-align:left;
}

.featured-post-inner .text-wrap {
    background-color:#222;
    margin:30px 16px 0 16px;
    box-shadow: -8px -8px 16px rgba(0,0,0,0.4);
    height:70%;
    padding:0 30px;
}

.featured-post-inner * {
    text-align:left;
    padding:0;
}

.featured-post-inner h3 {
    margin-top:-100px;
    padding-top:30px;
}

.featured-post-inner p {
    margin-left:0;
    margin-right:0;
}

.featured-post-inner a.button {
    margin: 40px 0 30px 0;
}


.music-intro a,
.post-body a {
    color:white;
    font-weight: bold;
    transition:all 0.25s ease-in;
}

.music-intro a:hover,
.post-body a:hover {
	background-color: rgba(255, 90, 90,1);
	color:#000;
}

/* STYLES FOR MULTI-COLOUR TEXT LINKS */ 
.post-body a.text-link,
.category-intro a.text-link {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 6px 2px 2px;
}

.post-body a.text-link:hover,
.category-intro a.text-link:hover {
    background-color: white;
	color:#000;
}

.post-body.red a.text-link,
.category-intro.red a.text-link {
    background-color:rgba(255,90,90,0.2);
}

.post-body.red a.text-link:hover,
.category-intro.red a.text-link:hover {
    background-color:rgba(255,90,90,1);
}

.post-body.green a.text-link,
.category-intro.green a.text-link {
    background-color:rgba(90,220,90,0.2);
}

.post-body.green a.text-link:hover,
.category-intro.green a.text-link:hover {
    background-color:rgba(90,220,90,1);
}

.post-body.blue a.text-link,
.category-intro.blue a.text-link {
    background-color:rgba(90,90,255,0.2);
}

.post-body.blue a.text-link:hover,
.category-intro.blue a.text-link:hover {
    background-color:rgba(90,90,255,1);
}

.post-body.yellow a.text-link,
.category-intro.yellow a.text-link {
    background-color:rgba(255,255,90,0.3);
}

.post-body.yellow a.text-link:hover,
.category-intro.yellow a.text-link:hover {
    background-color:rgba(250,250,90,1);
}

.post-body.red *::selection {
    background-color:rgba(255,90,90,0.2);
}

.post-body.green *::selection {
    background-color:rgba(90,255,90,0.2);
}

.post-body.blue *::selection {
    background-color:rgba(90,90,255,0.2);
}

.post-body.yellow *::selection {
    background-color:rgba(250,250,90,0.2);
}

/* MULTI-COLOUR LINKS ENDS */

a.wrapper-link {
    display: block;
    margin-right:20px !important;
}

.music-intro a.button, 
a.button {
    display: inline-block;
    padding:0 40px !important;
    margin: 40px auto 0 auto;
    font-weight:600;
    text-transform:uppercase;
    font-size:16px;
    line-height:50px;
    border: 4px solid #f6f6f6;
    background-color:transparent !important;
}

a.skip-buttons {
    margin:4em 0;
}

.music-intro a.button:hover,
a.button:hover {
    background-color:#f6f6f6 !important;
    border-color:#f6f6f6 !important;
    color:#2d2d2d !important;
}

.showcase {
    background: center center no-repeat;
    background-size:cover;
    height:100vh;
    min-height:660px;
	box-sizing:border-box;
    overflow:hidden;
}

.showcase::after {
  display: block;
  position: absolute;
  top:0;
  left:0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0 , rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  min-height:660px;
  width: 100%;
  content: '';
  z-index:5;
}

.plus-gradient {
    position:relative;
}

.plus-gradient * {
    position:relative;
    z-index:10;
}

.plus-gradient::after {
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.75)10%, rgba(0,0,0,0.6)40%, transparent),
                    linear-gradient(to right, rgba(0,0,0,0.3),transparent 30%, transparent 70%, rgba(0,0,0,0.3)100%);
    z-index:5;
}

h1 {
	position: relative;
    font-size:3em;
    font-weight:900;
    text-transform: uppercase;
    line-height:1.2em;
    padding: 0 16px;
	z-index:10;
}

#home-heading-one {
    text-indent: -9999px;
}

.showcase svg {
    width:100%;
    max-height: 50vh;
    max-width:760px;
	position: relative;
	z-index:10;
    margin: 12vh auto 5vh auto;
}

.showcase svg path {
    fill:#f6f6f6;
}

.bg-shade {
    background-color:rgba(0,0,0,0.2);
}

.post-bg-image {
    height:300px;
    background: center center no-repeat;
    background-size: cover;
    margin:60px 0 30px 0;
}

.preview-container {
    padding-top:40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.post-box {
    margin:0 auto;
    padding:10px;
    flex-basis:1;
}

footer {
    position:relative;
    background-color:#111;
    padding:60px 0 30px 0;
    overflow: auto;
}

footer nav.socials {
    display:block;
    text-align: center;
}

footer nav.socials a {
    display: inline-block;
    margin:16px 8px;
}

footer nav.socials svg {
    width:36px;
    height:36px;
}

footer nav.socials a:hover path {
    fill:#c4c4c4;
}

 footer a.logo {
    display: block;
    width:20%;
    margin:0 auto 16px auto;
    height:100px;
    overflow: hidden;
}

footer a.logo svg {
    height:90px;
    width:auto;
}

footer path {
    fill:#f6f6f6;
}

footer .lower-footer {
    width:100%;
    padding:2em;
}

footer .lower-footer * {
    font-size:12px;
    line-height:20px;
    margin:0 auto;
}


/* OTHER MAIN PAGE STYLES */

section.music-main {
    padding:0;   
}

.music-box {
    position:relative;
    overflow:auto;
}

.music-box-image {
    width:50%;
    height:50vw;
    max-height:760px;
    float:right;
    background: center center no-repeat;
    background-size: cover;
}

div.music-box:nth-of-type(even) .music-box-image {
    float:left;
}

div.music-box:nth-of-type(even) .music-box-content {
    float:right;
}

.music-box-content {
    padding: 5%;
    width:50%;

}

.music-box-content * {
    max-width:600px;
    margin-left: 0;
    text-align: left;
    padding:0;
}

.music-box-content a.button {
    display: block;
    margin-left:0;
    width:160px;
    text-align: center;
    
}

/* MAG POP-UP CUSTOMISATIONS */
iframe.mfp-iframe[src*="bandcamp.com/EmbeddedPlayer"] {
  max-width:700px;
  max-height:120px;
  left:120px;
}

/* POST STYLE */
.banner nav {
    width:100%;
    position:absolute;
    top:0;
	z-index:10;
}

.banner {
    background: center center no-repeat;
    background-size:cover;
	box-sizing:border-box;
    min-height:660px;
    padding: 6em 0 2em 0;
}

.banner::after {
  display: block;
  position: absolute;
  top:0;
  left:0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0 , rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5) 100%);
  box-sizing:border-box;
  min-height:660px;
  width: 100%;
  content: '';
  z-index:5;
}

.banner svg {
    width:40%;
    max-width: 600px;
    max-height:360px;
    min-width:350px;
    min-height:250px;
	position: relative;
	z-index:10;
}

.banner svg path {
    fill:#f6f6f6;
}

/* Category tags */
.category-tags {
    position:absolute;
    bottom:40px;
    margin-left:40px;
    height:20px;
}

.category-tags span {
    display:ineline-block;
    background:rgba(255,255,255,0.9);
    border: 2px solid rgba(255,255,255,0.9);
    padding:6px 8px;
    border-radius:2px;
    color:#464646;
    width:auto;
    margin-right:20px;
    font-size:12px;
}

.category-tags span:hover {
    background:rgba(0,0,0,0.25);
    color:rgba(255,255,255,0.9);
}

.post-body,
.post-notes {
    position:relative;
    top:-200px;
    background-color:#1a1a1a;
    width:75%;
    z-index:200;
    margin: 0 auto;
    padding:60px;
    box-shadow: -8px -8px 16px rgba(0,0,0,0.4), 0px 0px 24px rgba(0,0,0,0.3);
    max-width:960px;
}

.post-notes {
    margin-top:2em;
    margin-bottom:0;
}


.post-body h1,
.post-body h3,
.post-body p,
.post-notes h3,
.post-notes p {
    text-align:left;
    margin-left:0;
    max-width:960px;
    padding:0;
    margin: 40px 0;
}

.post-notes p,
.post-notes li {
    font-size:0.9em;
    line-height:1.4em;
}

.post-body h1 {
    margin-top:10px;
}

.post-body h3 {
    margin-top:60px;
}

.post-body p:first-of-type {
    font-weight:700;
}

.post-body p,
.post-body li {
    font-weight:400;
    font-size:1.2em;
    line-height:1.4em;
}

.post-body ol,
.post-body ul, 
.post-notes ol,
.post-notes ul {
    padding-left:40px;
}

.post-body ul,
.post-notes ul {
    list-style: disc;
}

.post-body ol, 
.post-notes ol {
    list-style-type: decimal;
}

.post-body li,
.post-notes li {
    text-align: left;
    margin-bottom:1.4em;
}

.post-body img,
.post-body div.wp-caption {
    position:relative;
    width:100% !important;
    height:auto;
}

.wp-caption p.wp-caption-text {
    width:100%;
    position:absolute;
    bottom:4px;
    margin-bottom:0;
    padding:1em 1.4em;
    background-color:rgba(255,255,255,0.6);
    color:#222;
    font-size:14px;
    line-height:22px;
    letter-spacing: 0;
}

.post-body h3 + p {
    margin-top:-24px;
}

p.tna-post-meta {
    font-weight:100;
    font-size:0.8em;
    color:#bbb;
}

p.tna-post-meta a {
    text-decoration: none;
    color:#bbb;
}

.post-notes a {
    font-weight:bold;
}

.post-notes a:hover {
    text-decoration:underline;
}

.post-final {
    padding:0 0 4em 0 !important;
}

.post-final .button {
    margin-right:20px;
}

.forward-back a {
    display: inline-block;
    padding:0 40px;
    margin: 40px auto 0 auto;
    font-weight:600;
    text-transform:uppercase;
    font-size:1em;
    line-height:50px;
    border: 4px solid #f6f6f6;
}

.forward-back a:hover {
    background-color:#f6f6f6;
    border-color:#f6f6f6;
    color:#2d2d2d;
}

/*  Contact page style */

.wpforms-container,
.wpforms-confirmation-container-full {
    display:block !important;
    margin:2em auto !important;
    max-width:460px;
    text-align:center;
}

div.wpforms-confirmation-container-full {
	background-color:transparent !important;
	border:0 !important;
	margin-bottom:0;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium {
    margin: 0 auto 2em auto;
    width:460px !important;
    min-width:460px !important;
    background-color:transparent !important;
    color:#f6f6f6 !important;
    border: 4px solid #999 !important;
    border-radius:0 !important;
    font-size:1em;
    padding:25px 40px !important;
    transition:all 0.5s ease;
}

div.wpforms-container-full .wpforms-form label.wpforms-field-label {
    font-size:1em;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height:2.2em;
}

.wpforms-form .wpforms-field {
    margin:0 auto;
    margin-bottom:30px;
    max-width:460px !important;
    
}

.wpforms-form .wpforms-field-container textarea {
    resize: none;
    max-width:460px !important;
    margin:0 auto;
    background-color:transparent !important;
    color:#f6f6f6 !important;
    border: 4px solid #999 !important;
    border-radius:0 !important;
    padding:12px !important;
    font-size:1em;
    text-align:left;
    transition:all 0.5s ease;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium:focus,
.wpforms-form .wpforms-field-container textarea:focus {
    border-color:#f6f6f6 !important;
}

.wpforms-form span.wpforms-required-label {
    display:none;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit] {
    display: inline-block;
    padding:0 40px;
    margin: 40px auto 0 auto;
    font-weight:600;
    text-transform:uppercase;
    font-size:1em;
    line-height:50px;
    border: 4px solid #f6f6f6;
    background: transparent;
    color:#f6f6f6;
    transition:all 0.5s ease;
}


div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit]:hover {
    background-color:#f6f6f6;
    border: 4px solid #f6f6f6;
    color:#2d2d2d;
}



/* MEDIA QUERIES ALL */

@media only screen and (max-width: 992px) {
    .menu-item {
        margin:0 -2px;
    }
    .preview-container {
        flex-wrap: wrap;
        flex-direction: column;    
    }
    .post-box {
        flex-basis:1;
    }
	
	.featured-post-inner {
    	align-self: center;
	}
	
    footer nav.socials {
        position:relative;
        width:100%;
        text-align:center;
        left:0;
    }
    
    footer a.logo {
        width:100%;
        margin-bottom:40px;
    }
    
    .featured-posts {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .featured-post-inner {
        flex-basis:1;
        width:100%;
        max-width:600px;
        margin:8em 0 4em 0;
        
    }
	
	iframe.mfp-iframe[src*="bandcamp.com/EmbeddedPlayer"] {
        left:0;
    }
    
    .blog-teasers-wrapper {
        flex-wrap: wrap;
        overflow: auto;
    }
    
    .blog-teaser .teaser-text-wrapper h2 {
        margin:0;
    }
    
    .blog-teaser .teaser-text-wrapper p {
        display:none;
    }
    
}


@media only screen and (max-width: 768px) {
    .showcase svg {
        max-width:400px;
    }
    .music-box-image {
        float:none;
        width:100%;
    }
    .music-box-content {
        width:100%;
        padding-bottom:250px;
    }
    .post-body,
    .post-notes {
        width:90%;
        padding:20px;
    }
    
    .post-body h1 {
        font-size:2em;
    }
   .category-tags {
        top:20px;
        margin-left:20px;
    }
}

@media only screen and (max-width: 600px) {
    .showcase svg {
        max-width:300px;
    }
    
    .wpforms-field-container {
        width:340px !important;
        margin:0 auto !important;
    }
    
    div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
    .wpforms-form .wpforms-field-container textarea {
        width:360px !important;
        min-width:360px !important;
    }
}
