#notfoundwrap {
    width:100%;
    height:100%;
    padding:6em;
    background-color:lime;
}

.notfoundinner {
    width:60%;
    height:60%;
}

.notfoundinner svg path {
    fill:transparent;
    stroke:white;
    stroke-width:2px;
}