.blog-teasers-wrapper {
    width:100%;
    display: flex;
    flex-wrap: nowrap; 
    align-items: stretch;
    flex-direction: row;
    height:70vh;
    margin-top:-80px;
    margin-bottom:40px;
}

.blog-teaser {
    flex-basis:100%;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center center;
}

.blog-teaser a {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:12;
}

.teaser-text-wrapper {
    position: relative;
    z-index: 10;
    padding:60px;
    padding-bottom:20px;
    position:absolute;
    bottom:0px;
    left:0;
    transition: all 0.5s ease !important;
}

.blog-teaser a:hover .teaser-text-wrapper {
    bottom:60px;
}

.teaser-text-wrapper span {
    display: block;
    width:100%;
    opacity:0;
    font-size:1.2em;
    line-height: 1.5em;
    text-align:left;
    position:relative;
    bottom:-30px;
}


.blog-teaser:hover .teaser-text-wrapper > span.active {
    transition-delay:0s;
    transition:0.5s ease-in;
    opacity:1;
}

.blog-teaser:hover .teaser-text-wrapper > span.read-more {
    transition-delay:0.2s;
}

.teaser-text-wrapper p {
    text-align: left !important;
    margin:0;
    padding:0; 
}

.blog-teaser::after {
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:linear-gradient(to top, rgba(0,0,0,0.75)10%, rgba(0,0,0,0.6)40%, transparent);
    z-index:5;
}