@import "assets/css/notfound-style.css";
@import "assets/css/preloader-style.css"; 

/*
Theme Name: Natural Aggregate
Theme URI: http://thenaturalaggregate.co.uk
Author: Martin J Stephens
Author URI: http://martinjstephens.com
Description: Theme for thenaturalaggregate.co.uk
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: thenaturalaggregate
*/

/* RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing:border-box;
    text-decoration:none;
    transition:all 0.5s ease;
}
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NAT AGG STANDARD INDEX STYLES */

body {
    background-color:#1e1e1e;
}

body * {
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    color:#f6f6f6;
    letter-spacing:1px;
    text-align: center;
}

*::selection {
	background:rgba(255,255,255,0.2);
}

nav.mainmenu div ul {
    width:100%;
    position:absolute;
    top:40px;
    display: flex;
    justify-content: center;
	z-index:10;
}

nav div ul li a {
    font-weight:600;
    text-transform:uppercase;
    font-size:1em;
    line-height:60px;
    padding:0 16px;
}

nav a:hover {
    color:#c4c4c4;
}

section {
    padding: 6em 0 6em 0 ;
}

section + section.music-final {
    padding:4em 0;
}

section.music-upper-teaser {
    background-color:#242424;
    padding:10em 0;
    background-size:cover;
    background-position:center center;
}

h2,
h3 {
    font-size:1.8em;
    line-height: 1.5em;
    margin-bottom:1.3em;
}

h2 {
    text-transform:uppercase;
    font-weight:bold;
    text-align:left;
}

.music-intro h3 {
    margin-bottom:0;
}

p {
    max-width:600px;
    margin: 1.3em auto 0 auto;
    font-size:1.2em;
    line-height:1.5em;
    padding:0 16px;
}

section p:first-of-type {
    margin-top:0;
}

table {
    max-width:800px;
    margin:1.3em auto 0 auto;
    font-size:1.2em;
    line-height:1.5em;
}

.tablepress th, 
.tablepress td {
    border:1px solid white !important;
    color:white;
    min-width:120px;
    padding:12px !important;
}

.tablepress thead th {
    background-color:#222 !important;
}

.tablepress caption {
    display:none;
}

.featured-posts {
    display:flex;
    flex-direction: row;
    justify-content:  center;
    flex-wrap:nowrap;
    background-color:#1e1e1e;
}

.featured-post-inner {
    flex:none;
    margin:0 1em;
    flex-basis:30%;
    max-width:500px;
}

.featured-post-inner:first-of-type {
    margin-left:0;
}

.featured-post-inner:last-of-type {
    margin-right:0;
}

.featured-post-inner .image-box {
    height:300px;
    width:100%;
    margin-bottom:2em;
    background-size:cover;
    background-position:center center;
}

.featured-post-inner {
    text-align:left;
}

.featured-post-inner .text-wrap {
    background-color:#222;
    margin:30px 16px 0 16px;
    box-shadow: -8px -8px 16px rgba(0,0,0,0.4);
    height:70%;
    padding:0 30px;
}

.featured-post-inner * {
    text-align:left;
    padding:0;
}

.featured-post-inner h3 {
    margin-top:-100px;
    padding-top:30px;
}

.featured-post-inner p {
    margin-left:0;
    margin-right:0;
}

.featured-post-inner a.button {
    margin: 40px 0 30px 0;
}


.music-intro a,
.post-body a {
    color:white;
    font-weight: bold;
    transition:all 0.25s ease-in;
}

.music-intro a:hover,
.post-body a:hover {
	background-color: rgba(255, 90, 90,1);
	color:#000;
}

/* STYLES FOR MULTI-COLOUR TEXT LINKS */
.post-body a.text-link,
.category-intro a.text-link {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 6px 2px 2px;
}

.post-body a.text-link:hover,
.category-intro a.text-link:hover {
    background-color: white;
	color:#000;
}

.post-body.red a.text-link,
.category-intro.red a.text-link {
    background-color:rgba(255,90,90,0.2);
}

.post-body.red a.text-link:hover,
.category-intro.red a.text-link:hover {
    background-color:rgba(255,90,90,1);
}

.post-body.green a.text-link,
.category-intro.green a.text-link {
    background-color:rgba(90,220,90,0.2);
}

.post-body.green a.text-link:hover,
.category-intro.green a.text-link:hover {
    background-color:rgba(90,220,90,1);
}

.post-body.blue a.text-link,
.category-intro.blue a.text-link {
    background-color:rgba(90,90,255,0.2);
}

.post-body.blue a.text-link:hover,
.category-intro.blue a.text-link:hover {
    background-color:rgba(90,90,255,1);
}

.post-body.yellow a.text-link,
.category-intro.yellow a.text-link {
    background-color:rgba(255,255,90,0.3);
}

.post-body.yellow a.text-link:hover,
.category-intro.yellow a.text-link:hover {
    background-color:rgba(250,250,90,1);
}

.post-body.red *::selection {
    background-color:rgba(255,90,90,0.2);
}

.post-body.green *::selection {
    background-color:rgba(90,255,90,0.2);
}

.post-body.blue *::selection {
    background-color:rgba(90,90,255,0.2);
}

.post-body.yellow *::selection {
    background-color:rgba(250,250,90,0.2);
}

/* MULTI-COLOUR LINKS ENDS */

a.wrapper-link {
    display: block;
    margin-right:20px !important;
}

.music-intro a.button, 
a.button {
    display: inline-block;
    padding:0 40px !important;
    margin: 40px auto 0 auto;
    font-weight:600;
    text-transform:uppercase;
    font-size:16px;
    line-height:50px;
    border: 4px solid #f6f6f6;
    background-color:transparent !important;
}

a.skip-buttons {
    margin:4em 0;
}

.music-intro a.button:hover,
a.button:hover {
    background-color:#f6f6f6 !important;
    border-color:#f6f6f6 !important;
    color:#2d2d2d !important;
}


h1 {
	position: relative;
    font-size:3em;
    font-weight:900;
    text-transform: uppercase;
    line-height:1.2em;
    padding: 0 16px;
	z-index:10;
}


.bg-shade {
    background-color:rgba(0,0,0,0.2);
}




/* POST STYLE */
.post-body,
.post-notes {
    position:relative;
    top:-200px;
    background-color:#1a1a1a;
    width:75%;
    z-index:200;
    margin-left:60px;
    padding:60px;
    box-shadow: -8px -8px 16px rgba(0,0,0,0.4), 0px 0px 24px rgba(0,0,0,0.3);
    max-width:960px;
}

.post-notes {
    margin-top:2em;
    margin-bottom:0;
}


.post-body h1,
.post-body h3,
.post-body p,
.post-notes h3,
.post-notes p {
    text-align:left;
    margin-left:0;
    max-width:960px;
    padding:0;
    margin: 40px 0;
}

.post-notes p,
.post-notes li {
    font-size:0.9em;
    line-height:1.4em;
}

.post-body h1 {
    margin-top:10px;
}

.post-body h3 {
    margin-top:60px;
}

.post-body p:first-of-type {
    font-weight:700;
}

.post-body p,
.post-body li {
    font-weight:400;
    font-size:1.2em;
    line-height:1.4em;
}

.post-body ol,
.post-body ul, 
.post-notes ol,
.post-notes ul {
    padding-left:40px;
}

.post-body ul,
.post-notes ul {
    list-style: disc;
}

.post-body ol, 
.post-notes ol {
    list-style-type: decimal;
}

.post-body li,
.post-notes li {
    text-align: left;
    margin-bottom:1.4em;
}

.post-body img,
.post-body div.wp-caption {
    position:relative;
    width:100% !important;
    height:auto;
}

.wp-caption p.wp-caption-text {
    width:100%;
    position:absolute;
    bottom:4px;
    margin-bottom:0;
    padding:1em 1.4em;
    background-color:rgba(255,255,255,0.6);
    color:#222;
    font-size:14px;
    line-height:22px;
    letter-spacing: 0;
}

.post-body h3 + p {
    margin-top:-24px;
}

