

#notfoundwrap {
    width:100%;
    min-height:100vh;
    padding:6em;
    position:relative;
}

.notfoundinner {
    width:600px;
    text-align: center;
    margin:0 auto;
    position:absolute;
    left:calc(50% - 300px);
}

#notfoundwrap p {
    width:500px;
    position:absolute;
    bottom:40px;
    left:calc(50% - 250px);
}

.notfoundinner svg {
    margin:0 auto;
}

.notfoundstroke svg path {
    fill:#2e2e2e;
    z-index: 5;
}

.notfoundfill svg path {
    z-index:10;
}

.notfoundfill-white svg path {
    fill:white;
}

.notfoundfill-red svg path {
    fill:#ff5a5a;
}

.notfoundfill-green svg path {
    fill:#5aff5a;
}

.notfoundfill-blue svg path {
    fill:#5a5aff;
}

.notfoundfill {
    transition:clip-path 20s;
    transition-timing-function: steps(240,end);
    clip-path:inset(0 100% 0 0);
}

.notfoundfill-green {
    transition-delay: 4s;
}

.notfoundfill-blue {
    transition-delay: 8s;
}

.notfoundfill-white {
    transition-delay: 12s;
}

.executefill {
    clip-path:inset(0 0 0 0);
}

@media only screen and (max-width: 992px) {
    .notfoundinner {
            width:360px;   
            left:calc(50% - 180px);
    }
    #notfoundwrap {
        min-height:80vh;
        padding:6em 0 0 0;
    }
}