@keyframes load {
    0% {fill: #1e1e1e;}
    50% {fill: #fff;}
    100% {fill:#1e1e1e;}
}

#nat-preloader {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:999;
    background-color:#111;
}

#nat-preloader svg {
    margin-top:20vh;
    height:40vh;
    width:auto;
    animation-delay: 1s;
    animation: load 2s infinite;
    transition:none;
}

body.preloading {
    overflow-y: hidden;
}