#mc_embed_signup {
    background-color:#111;
    padding:0 !important;
    padding-bottom: 20px !important;
}

#mc_embed_signup div#mc_embed_signup_scroll .email {
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    margin:0 auto;
    width:500px;
    background-color: transparent;
    color:#f6f6f6;
    border: 4px solid #999 !important;
    font-weight:600;
    text-transform:uppercase;
    font-size:16px;
    padding:25px 40px !important;
    border-radius:0;
    display:inline-block;
    transition: all 0.5s ease;
}

#mc_embed_signup div#mc_embed_signup_scroll .email:focus {
    border-color:#f6f6f6 !important;
}

#mc_embed_signup div.clear input.button {
    display: inline-block;
    padding:0 40px !important;
    margin: 0 auto;
    font-weight:600;
    text-transform:uppercase;
    font-size:16px;
    line-height:50px;
    border: 4px solid #f6f6f6;
    background-color:transparent !important;
    height:auto !important;
    border-radius:0;
}

#mc_embed_signup div.clear input.button:hover {
    background-color:#f6f6f6 !important;
    border-color:#f6f6f6 !important;
    color:#2d2d2d !important;
}

@media only screen and (max-width: 768px) {
    #mc_embed_signup div.clear {
        display: inline-block !important;
        width:160px;
    }
    #mc_embed_signup div.clear input.button {
        width:100% !important;
        display: inline-block !important;
        padding:0 20px !important;
    }
    
    #mc_embed_signup div#mc_embed_signup_scroll .email {
        width:50% !important;
        display: inline-block !important;
    }
}