

section.twitter-feed {
    background-color:#0a0a0a;
}

.tweet-inner {
}

.tweet-inner::before {
    content:" ";
    display: block;
    width:40px;
    height:40px;
    margin:0 auto 20px auto;
    background: url('../svg/twitter-icon-only.svg') center center;
    background-size: cover;
}

.twitter-feed .tweet-inner .button:hover {
    border-color: #1da1f2 !important;
    background-color:#1da1f2 !important;
    color:white !important;
}

.twitter-small {
    text-transform: uppercase;
    letter-spacing:3px !important;
    font-size:14px;
    font-weight:700;
}